{% load staticfiles %}

<!DOCTYPE html'>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loja</title>
</head>
<body>
    <h1>Loja de Moda</h1>
    
    <form method="POST">        
        {% csrf_token %}
        {{ form }}
        <button type="submit">Fazer Pedido</button>
       
        {% if msg %}
       <h2>{{msg}}</h2>
        {% endif %}
    </form>
</body>
</html>


